@import "./main.scss";

.button {
  background-color: $primary-color;
  color: #000;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 25px;
  transition: box-shadow 0.3s ease;
}

.button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add your desired shadow effect here */
}
